.play-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 10vh;
}

.play-page .logo {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.play-page h1{
  padding-top: 15px;
  font-size: 2.5rem;
}

.play-page p{
  font-size: 1.5rem;
  text-align: center;
  padding-left: 5px;
}

.play-page .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 23px;
}

.play-page .btn {
  height: 50px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.2rem;
}

.play-page .btn:hover {
  transform: scale(1.05);          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.navbar-brand.title{
  padding-left: 10px;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h1 {
  margin: 0;
  padding-bottom: 7px;
}

.navbar-brand.score{
  padding-right: 12px;
  padding-top: 12px;
  padding-left: 10px;
}

.navbar-brand.login{
  padding-bottom: 10px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  margin-top: 10vh;
}

.login-page .logo {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.login-page .btn {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  margin-top: 10vh;
}


.signup-page .logo {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.signup-page .btn {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-page .btn:hover {
  transform: scale(1.05);          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


/* .select-genre {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 70vh;          
  margin: 0;              
  flex-direction: column;
  gap: 30px;
} */

.select-genre {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  width: 85%;
  /*increase gap between rows of items*/
  row-gap: 50px;
}

.select-page .select-heading {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 3rem;
  text-align: center;
}

.select-genre .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 70px;
  width: 200px;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 7px;
}

.select-genre .progress{
  border-style: solid;
}

.select-genre .card:hover {
  transform: scale(1.05);          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.genre-page .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px; 
}

.genre-page .header h1 {
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
  padding-left: 55px;
}

.genre-page .header button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-page .header button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.genre-page .card {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  width: 360px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
}

.genre-page .card:hover {
  transform: scale(1.05);          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.genre-page .card-header {
  padding: 10px;
  font-size: 1.2rem;
}

.genre-page .card-body {
  padding: 15px;
  background-color: #f8f9fa;
}

.genre-page .card-text {
  font-size: 1rem;
  font-weight: 500;
}

.genre-page img {
  width: 100%;
  height: auto;
  display: block;
}

.genre-page .input-guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.genre-page .input-guess input {
  height: 50px;
  width: 300px;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
}

.genre-page .input-guess button {
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-page .input-guess button:hover {
  transform: scale(1.05);          
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.genre-page .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 300px;
  margin: 10px auto;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  /* text-align: center;  */
  padding-right: 10px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.leaderboard h1{
  padding-left: 25px;
  font-size: 2rem;
}

.leaderboard .table{
  width: 70%;
  margin-top: 20px;
  border-style: solid;
  border-collapse: collapse;
  /* text-align: center; */
}

.leaderboard .table th, .table td {
  font-size: 1rem;
}

.leaderboard .table thead th {
  font-size: 1.1rem;
}